* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    width: 100%;
}

.principal {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor01 {
    width: 60%;
    height: 200px;
    background-color: #1A2B40;
    color: #fff;
    display: flex;
}

.pic01 {
    margin: 0%;
    max-width: 150px;
    max-height: 200px;
}

.texto01 {
    display: flex;
    flex-direction: column;
}

.contenedor02 {
    width: 60%;
    height: 200px;
    background-color: #83EB87;
    color: #fff;
    display: flex;
}

.pic02 {
    margin: 0%;
    min-width: 137px;
    max-height: 200px;
}

.texto02 {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: 30px;
}